
<!--

<div class="shopping-cart-title-container">
  <div class="shopping-cart-title">
    Shopping Cart
  </div>
</div>

-->
<ng-container *ngIf="product_cart.length; else noProduct">
  <div class="product-tile"
      *ngFor="let product_info of product_cart">
    <ng-container *ngIf="product_info.product as p">
      <div class="product-name">
        {{ p.name }}
      </div>
      <quantity-input
          class="product-quantity"
          [size]="'0.5em'"
          [quantity]="product_info.quantity"
          (invalidQuantityChange)="onInvalidQuantityChange(p.id, $event)"
          (quantityChange)="onQuantityChange(product_info, $event)"
      ></quantity-input>
      <div class="product-price">
        HKD ${{ p.price }}
      </div>
      <button mat-icon-button
          aria-label="remove item from cart"
          class="remove-button"
          (click)="deleteItem(p)">
        <mat-icon>close</mat-icon>
      </button>
    </ng-container>
  </div>
  <div *ngIf="hideCheckoutButton === false"
      class="checkout-button-container">
    <button
      mat-raised-button
      color="primary"
      aria-label="shopping cart checkout"
      routerLink="/check-out">
        Check Out
    </button>
  </div>
</ng-container>
<ng-template #noProduct>
  <div class="no-product-message">
    No product in cart!
  </div>
</ng-template>