
<div class="page-container">
  <top-nav
    [(openSideNav)]="openSideNav"

    [(openUserPanel)]="openUserPanel"

    (height)="topNavHeight = $event"
    class="top-nav" #topNav>
  </top-nav>

  <div class="side-nav-click-away"
      [style.display]="(openSideNav && mobile) ? 'block' : 'none'"
      (click)="mobile && (openSideNav = false)">
  </div>
  <side-nav #sideNav class="side-nav"
      [style.transform]="(openSideNav || !mobile) ? 'translateX(0)' : 'translateX(-100%)'"
      [style.paddingTop]="topNavHeight">
      <!--
        "topNav.elemRef.nativeElement.getBoundingClientRect().height + 'px'">
      -->
  </side-nav>

  <user-panel class="user-panel" [ngClass]="{ open: openUserPanel }"
      [style.transformOrigin]=""
      [style.paddingTop]="topNavHeight">
  </user-panel>
  <div class="page-content-container">

    <ng-content select=".page-content"></ng-content>

  </div>
</div>

