
<div class="page-container">
  <app-top-nav
    [(openSideNav)]="openSideNav"
    (height)="topNavHeight = $event"
    [style.zIndex]="500"
    #topNav>
  </app-top-nav>

  <div class="side-nav-click-away"
      [style.display]="(openSideNav || !mobile) ? 'block' : 'none'"
      (click)="mobile && (openSideNav = false)">
  </div>
  <side-nav #sideNav class="side-nav"
      [style.transform]="(openSideNav || !mobile) ? 'translateX(0)' : 'translateX(-100%)'"
      [style.paddingTop]="topNavHeight">
      <!--
        "topNav.elemRef.nativeElement.getBoundingClientRect().height + 'px'">
      -->
  </side-nav>
  <div class="page-content-container">

    <ng-content select=".page-content"></ng-content>

  </div>
</div>

