
@import "../../../styles";

.page-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden auto;

  .top-nav {
    z-index: 500;
  }

  .side-nav-click-away,
  .user-panel-click-away {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: block;

    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.0);
    transition: all 0.1s ease-in-out;

    &.open {
      pointer-events: all;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.25s ease-in-out;
    }
  }
  .side-nav {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    padding: 15px;
    background: #99e;
    box-shadow: 3px 0 10px -2px rgba(0, 0, 0, 0.5);

    transform: translateX(-100%);
    display: none;

    &.open {
      transform: translateX(0);
    }

    &.mobile {
      transition: transform 0.5s ease-out;
      display: block;
    }

    @media (min-width: map-get($grid-breakpoints, sm)) {
      display: block;
      width: 30%;

      box-shadow: none;

      transform: none;
      transition: none;
    }
  }

  .user-panel {
    width: 100vw;
    height: 300px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: palegreen;
    z-index: 500;
    overflow: hidden;

    border-bottom-left-radius: 150%;
    transform: scale(0);
    // transform-origin: top calc(100% - 20px - 16px); // inline
    transition: border-radius 0.1s, transform 0.1s;


    &.open {
      transform: scale(100%);
      border-radius: 0;
      transition: border-radius 0.25s, transform 0.25s;
    }

    @media (min-width: map-get($grid-breakpoints, sm)) {
      width: 70%;
    }
  }


  .page-content-container {
    width: 100%;

    @media (min-width: map-get($grid-breakpoints, sm)) {
      position: fixed;
      width: 70%;
      right: 0;
    }
  }
}
