
<div class="page-container">
  <top-nav
    [openSideNav]="openSideNav"
    (openSideNavChange)="openSideNav = $event; (openSideNav && openUserPanel) && (openUserPanel = false)"

    [openUserPanel]="openUserPanel"
    (openUserPanelChange)="openUserPanel = $event; (openUserPanel && mobile && openSideNav) && (openSideNav = false)"

    (height)="topNavHeight = $event"
    class="top-nav" #topNav>
  </top-nav>

  <div class="side-nav-click-away"
      [ngClass]="{ open: openSideNav && mobile }"
      (click)="mobile && (openSideNav = false)">
  </div>
  <side-nav #sideNav class="side-nav"
      [ngClass]="{ open: openSideNav || !mobile }"
      [style.paddingTop]="topNavHeight + 'px'">
      <!--
        "topNav.elemRef.nativeElement.getBoundingClientRect().height + 'px'">
      -->
  </side-nav>

  <div class="user-panel-click-away"
      [ngClass]="{ open: openUserPanel }"
      (click)="(openUserPanel = false)">
  </div>
  <user-panel class="user-panel"
      [ngClass]="{ open: openUserPanel }"
      [style.transformOrigin]="'calc(100% - 16px - 20px) ' + (topNavHeight / 2).toString() + 'px'"
      [style.paddingTop]="topNavHeight + 'px'">
  </user-panel>
  <div class="page-content-container">

    <ng-content select=".page-content"></ng-content>

  </div>
</div>

