
:root {
  --side-nav-padding: 15px;

  .category {
    padding: var(--side-nav-padding);
    margin-bottom: 10px;
    cursor: pointer;
  
    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  
  .trade-mark {
    position: absolute;
    bottom: 15px;
    left: var(--side-nav-padding);
    right: var(--side-nav-padding);
  }
}