<page-template>


<div class="page-content" *ngIf="this.product">
  <app-slideshow
      style="width: 100%; height: 300px; margin-top: 15px"
      [images]="product.images || [ product.thumbnail ]">
  </app-slideshow>
  <div class="product-info">
    <h2 class="product-name">{{ product.name }}</h2>
    <!--
    <div class="product-price">
      {{ currency }}{{ product.price }}
    </div>
    -->

    <div class="quantity-input">
      <quantity-input
          [(quantity)]="quantity"
          (invalidQuantityChange)="invalidQuantity = $event">
      </quantity-input>

      &nbsp;*&nbsp;{{ currency }}{{ product.price }} each
    </div>
    <div class="button-container">
      <button
          class="add-to-cart-button"
          [disabled]="invalidQuantity"
          mat-raised-button
          color="primary"
          (click)="addToCart()">
        {{
          addToCartButtonText
        }}
      </button>
      <button
          class="purchase-button"
          [disabled]="invalidQuantity || product_cart.length === 0"
          mat-raised-button
          color="primary"
          (click)="buy()">
        {{
          purchaseButtonText
        }}
      </button>
    </div>

    <div class="product-description">{{ product.description }}</div>
    <customer-review [product]="product"></customer-review>
  </div>
</div>


</page-template>
