

.product-image {
  margin-top: 15px;
  width: 100%;
}

.product-info {
  padding: 10px 15px;


  .product-name {
    padding: 5px 0;
    font-size: 2em;
  }
  .product-price {
    padding: 5px 0;
  }
  .purchase-button {
    margin-top: 10px;
  }
  .product-description {
    padding: 5px 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }


}

