<page-template>

  <div *ngIf="product" class="page-content product-purchase-container">

    <h1>{{ product.name }}</h1>
    <img *ngIf="product.thumbnail || product.images"
        [src]="product.thumbnail || product.images[0]"
        class="product-image" />

    <div class="quantity-input">
      <quantity-input
          [(quantity)]="quantity"
          (invalidQuantityChange)="invalidQuantity = $event">
      </quantity-input>

      &nbsp;*&nbsp;{{ currency }}{{ product.price }} each
    </div>

    <div class="button-container">
      <button
          class="add-to-cart-button"
          [disabled]="invalidQuantity"
          mat-raised-button
          (click)="addToCart()">
        {{
          invalidQuantity ? (
            "Invalid Quantity"
          ) : (
            "Add " + quantity + " to Cart"
          )
        }}
      </button>
      <button
          class="purchase-button"
          [disabled]="invalidQuantity"
          mat-raised-button
          color="primary"
          (click)="buy()">
        {{
          purchaseButtonText
        }}
      </button>
    </div>
  </div>



</page-template>
