
.product-purchase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
  margin-top: 30px;
  margin-bottom: 30px;
}

.quantity-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-form-field-wrapper {
    cursor: text;
  }

  .mat-form-field-label-wrapper {
    margin-top: -15px;
  }
}
.quantity-select-menu-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
}

.quantity-selector-panel {
  width: 100px;
  background: rgba(255, 255, 255, 0.7);

  &.mat-select-panel {
    /*
    min-width: unset !important;
    */
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
}