

<ng-template #textInputTemplate let-ctx>
  <div [class]="ctx.name + '-container input-container'">
    <div [class]="ctx.name + '-label input-label'">
      {{
        ctx.formControl.invalid ? (
          ctx.label_invalid
        ) : (
          ctx.label_valid
        )
      }}
    </div>
    <input [class]="ctx.name + '-input-field'"
        class="input-field"
        [value]="ctx.value"
        (input)="ctx?.onInput?.call(null, $event)"
        [formControl]="ctx.formControl" />
  </div>
</ng-template>

<cms-template>
  <div class="page-content">
    <ng-container
        [ngTemplateOutlet]="textInputTemplate"
        [ngTemplateOutletContext]="id_template_context">
    </ng-container>
    <ng-container
        [ngTemplateOutlet]="textInputTemplate"
        [ngTemplateOutletContext]="name_template_context">
    </ng-container>

    <button
      mat-raised-button
      color="primary"
      aria-label="Save Product Information"
      (click)="save()"
      routerLink="/cms">
        Save Product Information
    </button>
  </div>
</cms-template>