<page-template>


  <h2 *ngIf="category" class="page-content category-title">
    {{ category }}
  </h2>
  <div class="page-content main-product-container">
    <ng-container *ngFor="let product of product_list">
      <app-product-card
        [routerLink]="['/product', product.id]"
        [product]="product">
      </app-product-card>
    </ng-container>
  </div>
  <!--

    fn inspect function eshopping nodefn
    oci raw-request --http-method POST --target-uri https://ke3g5keoveq.us-ashburn-1.functions.oci.oraclecloud.com/20181201/functions/ocid1.fnfunc.oc1.iad.aaaaaaaaabfaaeqkudoqyirlw3qqxtp7krgaa3xuuw7ft3isqmdk7tb5ursq/actions/invoke --request-body '{ "name": "Bye" }'

    https://docs.cloud.oracle.com/en-us/iaas/Content/Functions/Concepts/functionsconcepts.htm
    https://docs.cloud.oracle.com/en-us/iaas/Content/Functions/Tasks/functionsinvokingfunctions.htm#usingocicli
  -->

</page-template>
