<mat-toolbar color="primary" class="app-top-nav">
  <button class="app-menu-button"
      mat-icon-button aria-label="menu button"
      (click)="this.toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>

  <span
      routerLink="/home"
      class="top-nav-label">
    E-Shopping
  </span>

  <div class="right-group">
    <button class="shopping-cart-button"
        mat-icon-button aria-label="menu button"
        (click)="this.toggleShoppingCart()">
      <mat-icon
          [style.color]="openUserPanel ? 'rgba(0, 0, 0, 0.5)' : 'white'">
        shopping_cart
      </mat-icon>
    </button>
    <app-login-button
        class="app-login-button"
        (click)="this.toggleUserPanel()"
        [color]="openShoppingCart ? 'rgba(0, 0, 0, 0.5)' : 'white'">
    </app-login-button>
  </div>
</mat-toolbar>

