html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

/*
https://medium.com/@tomastrajan/
how-to-build-responsive-layouts-with-bootstrap-4-
and-angular-6-cfbb108d797b
*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


